.detail-wrap {
  position: relative;

  .ad-wrap {
    position: fixed;
    top: 80px;
    right: 50%;
    width: 180px;
    margin-right: -560px;
    border: 1px solid #ddd;
    a{
      display: block;
      width: 100%;
      height: 260px;
      background-image: url(//cdn2.jianshu.io/assets/web/web-note-ad-side-banner-22096669b4c4b91c3b9266894e951aef.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      span{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #979797;
      }
    }
  }
  .article-wrap {
    width: 640px;
    margin: 0 auto;
    padding-top: 100px;
    h1 {
      color: black;
      font-size: 34px;
      font-weight: 700;
      line-height: 1.3;
      margin: 20px 0 0;
    }
    .author-wrap {
      margin: 30px 0 40px;
      .author-img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
        display: inline-block;
        img {
          height: 100%;
          width: 100%;
          border: 1px solid #ddd;
          border-radius: 50%;
        }
      }
      .author-info {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        .name {
          font-size: 16px;
          vertical-align: middle;
          margin-right: 3px;
        }
        .btn {
          font-size: 12px;
          padding: 0 7px 0 5px;
          color: #fff;
          border-radius: 30px;
          background-color: #42c02e;
        }
        .metas {
          margin: 3px 0;
          span {
            padding-right: 5px;
            font-size: 12px;
            color: #969696;
          }
        }
      }
    }
    .detail-conten-wrap {
      img {
        width: 100%;
        margin: 20px 0;
      }
      p {
        text-indent:2em;
        margin: 0 0 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
      }
    }
  }
}
