#root{
    height: 100%;
}
.sign_wrap{
    position: relative;
    height: 100%;
    font-size: 14px;
    background:#f1f1f1;
    min-height: 750px;
    min-width: 800px;
    text-align: center;
    &:before{
        content: "";
        display: inline-block;
        height: 85%;
        vertical-align: middle;
    }
  .vertical_center{
    width: 400px;
    margin: 60px auto 0;
    padding: 20px 50px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0,0.1);
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    .titles-wrap{
        color: #969696;
        font-size: 18px;
        margin:0 auto 30px;
        span{
            display: inline-block;
            padding: 10px;
            cursor: pointer;
        }
        .login_tital{
            border-bottom: 2px solid #ea6f5a;
            font-weight: 700;
            color: #ea6f5a;
        }
        .register_tital{
            border-bottom: 2px solid #ea6f5a;
            font-weight: 700;
            color: #ea6f5a;
        }
    }
  }
}